<!-- single card 1 -->
<div class="product-card flex flex-col gap-2.5 w-full md:max-w-[260px] group">
  <!-- card image -->
  <div class="relative image w-full 2xl:w-[295px] h-[298px]">
    <a href="{{ product.url }}">
      <img
        src="{{ product.featured_image | img_url : 'medium' }}"
        alt="{{ product.title }}"
      />
    </a>
    <div
      class="absolute right-8 top-2 flex flex-col gap-2 button-div opacity-0 invisible group-hover:opacity-100 group-hover:visible wishlist-card"
    >
      <!--wuick view button -->
      <button
        class="product_quick_view bg-amber-200 rounded-full"
        data-product-handle="{{ product.handle }}"
      >
        {% render "quick-view" %}
      </button>
      <!--add wishlist button -->
      <button
        class="add_wishlist cursor-pointer"
        data-product_id="{{ product.handle }}"
      >
        {% render "wish-icon" %}
      </button>

      <button
        class="close_wishlist cursor-pointer hidden"
        data-product_id="{{ product.handle }}"
      >
        {% render "wish-icon-click" %}
      </button>
    </div>
  </div>

  <!-- card content -->
  <div class="card-content-wrapper pt-3">
    <!-- product text -->
    <div class="text-area-wrapper flex flex-col gap-1.5">
      <h1
        class="text-[20px] text-black font-satoshi not-italic font-bold leading-normal"
      >
        <a href="{{ product.url }}">
          {{ product.title }}
        </a>
      </h1>

      <!-- rating -->
      <div class="rating flex gap-4 items-center">
        <div class="rating-icon flex gap-[4px]">
          {% for i in (1..5) %} {% render "rating-icon" %} {% endfor %}
        </div>

        <!-- rating rate -->
        <div class="rating-rate">
          <h1
            class="text-black font-satoshi text-[14px] font-normal leading-none"
          >
            4.5/5
          </h1>
        </div>
      </div>

      <!-- product price -->
      <div class="product-price pt-2 pb-[2px] flex gap-[9px]">
        <h1 class="text-black font-satoshi text-[24px] font-bold leading-none">
          {{ product.price | money }}
        </h1>
      </div>
    </div>
  </div>
</div>

    <script>
        jQuery(document).ready(function () {
            // Add to wishlist
            $(".add_wishlist").on("click", function () {
            var card = $(this).closest(".wishlist-card");
            $(this).addClass("hidden");
            card.find(".close_wishlist").removeClass("hidden");

            let product_id = $(this).data("product_id");

            let wishList = JSON.parse(localStorage.getItem("wishlist") || "[]");
            if (!wishList.includes(product_id)) {
                wishList.push(product_id);
                localStorage.setItem("wishlist", JSON.stringify(wishList));
            }
            });

            // Remove from wishlist
            $(".close_wishlist").on("click", function () {
            var card = $(this).closest(".wishlist-card");
            $(this).addClass("hidden");
            card.find(".add_wishlist").removeClass("hidden");

            let product_id = $(this).data("product_id");

            let wishList = JSON.parse(localStorage.getItem("wishlist") || "[]");
            wishList = wishList.filter((id) => id !== product_id);
            localStorage.setItem("wishlist", JSON.stringify(wishList));
            });
        //   loading stay wishlist button
            $(".wishlist-card").each(function () {
            let product_id = $(this)
                .find(".add_wishlist, .close_wishlist")
                .data("product_id");

            let wishList = JSON.parse(localStorage.getItem("wishlist") || "[]");
            if (wishList.includes(product_id)) {
                $(this).find(".add_wishlist").addClass("hidden");
                $(this).find(".close_wishlist").removeClass("hidden");
            }
            });
        });
  </script>
