<!-- single card 1 -->
                    <div class="product-card flex flex-col gap-2.5 w-full md:max-w-[260px]">
                        <!-- card image -->
                        <div class="image w-full 2xl:w-[295px] h-[298px]">
                            <a href="{{ product.url }}">
                            <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" />
                            </a>
                        </div>

                        <!-- card content -->
                        <div class="card-content-wrapper pt-3">
                            <!-- product text -->
                            <div class="text-area-wrapper flex flex-col gap-1.5">
                                <h1 class="text-[20px] text-black font-satoshi  not-italic font-bold leading-normal">
                                   <a href="{{ product.url }}">
                                    {{ product.title }} 
                                    </a>
                                </h1>

                                <!-- rating -->
                                <div class="rating flex gap-4 items-center">
                                    <div class="rating-icon flex gap-[4px]">
                                        {% for i in (1..4) %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17"
                                            viewBox="0 0 19 17" fill="none">
                                            <path
                                                d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                                fill="#FFC633" />
                                        </svg>
                                        {% endfor %}
                                        <!-- half star -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17"
                                            viewBox="0 0 10 17" fill="none">
                                            <path
                                                d="M3.76418 16.9793L9.19822 13.9561V0.255066L6.57901 5.89498L0.405762 6.64316L4.96026 10.877L3.76418 16.9793Z"
                                                fill="#FFC633" />
                                        </svg>
                                    </div>

                                    <!-- rating rate -->
                                    <div class="rating-rate">
                                        <h1 class="text-black font-satoshi text-[14px] font-normal leading-none">
                                            4.5/5
                                        </h1>
                                    </div>
                                </div>

                                <!-- product price -->
                                <div class="product-price pt-2 pb-[2px] flex gap-[9px]">
                                    <h1 class="text-black font-satoshi text-[24px] font-bold leading-none">
                                        {{ product.price | money}}
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>