<script src="{{ 'add_to_cart.js' | asset_url }}"></script>

<section class="product-template-{{ section.id }}">
    <!-- Product Details -->
<div class="product-details-area w-full px-[100px] pt-[40px] flex gap-[40px]">
    <!-- product-details-left image -->
    <div class="product-details-left w-7/12 flex gap-[14px]">
        <!-- Sidebar images -->
    <div class="slider-nav product-image-sidebar flex flex-col gap-[14px]">
      {% for image in product.images %}
        <div class="product-sidebar-img w-[152px] h-[167px]">
          <img src="{{ image | image_url: width: 200 }}" class="w-full h-full object-contain"/>
        </div>
      {% endfor %}
    </div>
         <!-- Main image slider -->
    <div class="slider-for product-main-image w-[444px] h-[530px]">
      {% for image in product.images %}
        <div>
          <img src="{{ image | image_url: width: 444 }}" class="w-full h-[530px] object-contain"/>
        </div>
      {% endfor %}
    </div>
    </div>

  
    <!-- product details right -->
    <div class="product-details-right w-5/12 flex flex-col gap-[12px] pt-[5px] pb-[25px]">

        <!-- product text -->
        <div class="text-area-wrapper w-full flex flex-col gap-[15.30px]">
            <h1 class="text-black font-[700] min-w-[610px] text-[39.25px] not-italic leading-none font-integralcf">
                {{ product.title }}
                </h1>

            <!-- rating -->
            <div class="rating flex gap-[14px] items-center pt-[2px]">
                <div class="rating-icon flex gap-[7.10px]">
                  {% for item in (1..5) %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
                        <path
                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                            fill="#FFC633" />
                    </svg>
                    {% endfor %}

                </div>
                <!-- rating rate -->
                <div class="rating-rate">
                    <h1 class="text-black font-satoshi text-[16px] not-italic font-normal leading-none">4.5/5</h1>
                </div>
            </div>

            <!-- product price -->
            <div class="product-price pt-[7.60px] pb-[2px] flex gap-[13.50px]">
                <h1 class="text-black font-satoshi text-[32px] not-italic font-extrabold leading-none">{{ product.price | money }}
                </h1>
                <h2
                    class="text-[rgba(0,0,0,0.3)] font-satoshi text-[32px] not-italic font-bold leading-none line-through">
                    {{ product.compare_at_price | money }}
                    </h2>
               
            </div>

            <!-- text -->
            <p class="text-[rgba(0,0,0,0.6)] pb-[3px] font-satoshi text-[16px] not-italic font-normal leading-[22px]">
                {{ product.description}}
                </p>
            <!-- divider -->
            <div class="w-full h-[2px] bg-[rgba(0,0,0,0.10)]"></div>
          </div>

{% unless product.has_only_default_value %}
 {% for option in product.options_with_values %}
  {% if option.values.size > 1 %}
  <div class="product-option">
    <p class="font-bold">{{ option.name }}</p>
    {% for value in option.values %}
      <input 
        type="radio" 
        name="{{ option.name | downcase | replace: ' ', '_' }}" 
        id="{{ value | downcase | replace: ' ', '_' }}" 
        value="{{ value }}" 
        class="hidden-radio">
      <label for="{{ value | downcase | replace: ' ', '_' }}" class="option-button p-2 cursor-pointer border rounded-md inline-block mr-2 mb-2">
        {{ value }}
      </label>
    {% endfor %}
  </div>
  {% endif %}
{% endfor %}
{% endunless %}


        

         {% form 'product', product %}
  <!-- Variant dropdown -->
  {% if product.variants.size > 1 %}
    <select class="variance hidden" name="id" >
      {% for variant in product.variants %}
        <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %}selected{% endif %}>
          {{ variant.title }}
        </option>
      {% endfor %}
    </select>
  {% else %}
    <!-- Single variant, no dropdown -->
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
  {% endif %}

  <div class="add-cart flex gap-[20px] pt-[12px]">
    {% render 'quantity', type:"product" %}
    <div class="cart-btn">
      <button id="add-to-cart"
        class="disabled:cursor-not-allowed disabled:opacity-50 flex px-[54px] py-[16px] justify-center items-center gap-[12px] flex-shrink-0 rounded-[62px] bg-black text-white font-[Satoshi] text-[16px] not-italic font-medium leading-normal"
        type="submit">
        Add to Cart
      </button>
    </div>
  </div>
{% endform %}

    </div>


</div>
</section>

{% schema %}
{
  "name": "Main Product",
  "blocks": [
    {
      "type": "select",
      "name": "Variant Type",
      "settings": [
        {
          "type": "select",
          "id": "variant_type",
          "label": "Variant Type",
          "options": [
            {
              "label": "pills",
              "value": "pills"
            },
            {
              "label": "selector",
              "value": "selector"
            }
          ],
          "default": "pills"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Product"
    }
  ]
}
{% endschema %}

<script>
  jQuery(document).ready(function(){

    function selectedVariance(param, value){
      var url = new URL(window.location.href);
            url.searchParams.set(param, value);
            window.history.replaceState({}, '', url)
     
    }

    function updateSelection(){
      var selectvalue = '';
      $(".product-option input[type='radio']:checked").each(function(){
        selectvalue += (selectvalue ? " / " : "") + $(this).val();
      });
      // console.log(selectvalue); 
      // select the main variance
      $(".variance option").each( function(){
       if($.trim($(this).text()) === selectvalue){
        $(this).prop("selected", true);
        return false;
       }
      });   
     }


    $(".product-option input[type='radio']").change( function(){
      updateSelection();

       var carrentVariance = $(".variance").val();
      console.log(carrentVariance);
      selectedVariance('variant', carrentVariance);
    }
      
    );

    updateSelection();
  });
</script>





